<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>play</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>name</key>
			<string>normal</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>hard</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>home</string>
		</dict>
	</array>
	<key>options</key>
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>name</key>
			<string>audio</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>credits</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>home</string>
		</dict>
	</array>
	<key>home</key>
	<array>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>play</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>options</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>name</key>
			<string>store</string>
		</dict>
	</array>
</dict>
</plist>
