<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tower_air</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tower_cannon</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tower_radar</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tower_rocket</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tower_shock</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tower_slowdown</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tower_sniper</string>
		<key>range</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>type</key>
		<integer>0</integer>
		<key>level</key>
		<integer>1</integer>
		<key>maxLevel</key>
		<integer>5</integer>
		<key>damageIncerment</key>
		<integer>40</integer>
		<key>bulidCoin</key>
		<integer>50</integer>
		<key>upgradeCoin</key>
		<integer>50</integer>
		<key>destoryCoinRatio</key>
		<real>0.5</real>
		<key>grid</key>
		<integer>4</integer>
		<key>bulletType</key>
		<integer>0</integer>
		<key>working</key>
		<false/>
	</dict>
</array>
</plist>
