<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>creature_bomb</string>
		<key>HP</key>
		<integer>100</integer>
		<key>moveSpeed</key>
		<integer>20</integer>
		<key>coin</key>
		<integer>10</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_boss</string>
		<key>HP</key>
		<integer>400</integer>
		<key>moveSpeed</key>
		<integer>15</integer>
		<key>coin</key>
		<integer>40</integer>
		<key>type</key>
		<integer>1</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_coward</string>
		<key>HP</key>
		<integer>150</integer>
		<key>moveSpeed</key>
		<integer>25</integer>
		<key>coin</key>
		<integer>15</integer>
		<key>type</key>
		<integer>2</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_fast</string>
		<key>HP</key>
		<integer>50</integer>
		<key>moveSpeed</key>
		<integer>40</integer>
		<key>coin</key>
		<integer>10</integer>
		<key>type</key>
		<integer>3</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_fly</string>
		<key>HP</key>
		<integer>100</integer>
		<key>moveSpeed</key>
		<integer>15</integer>
		<key>coin</key>
		<integer>10</integer>
		<key>type</key>
		<integer>4</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_ice</string>
		<key>HP</key>
		<integer>150</integer>
		<key>moveSpeed</key>
		<integer>22</integer>
		<key>coin</key>
		<integer>20</integer>
		<key>type</key>
		<integer>5</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_normal</string>
		<key>HP</key>
		<integer>100</integer>
		<key>moveSpeed</key>
		<integer>20</integer>
		<key>coin</key>
		<integer>10</integer>
		<key>type</key>
		<integer>6</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>creature_strong</string>
		<key>HP</key>
		<integer>200</integer>
		<key>moveSpeed</key>
		<integer>10</integer>
		<key>coin</key>
		<integer>20</integer>
		<key>type</key>
		<integer>7</integer>
		<key>hidden</key>
		<false/>
		<key>slowDown</key>
		<false/>
	</dict>
</array>
</plist>
